{% extends 'Squelette.html.twig' %}

{% block Titre %}
    Timplan - Feuille de présence
{%endblock %}

{%block Section %} 
    <h1>
        Feuille de présence
        <small>Consultation</small>
    </h1>
{% endblock %}


{% block Navigation %}
    {% if AutorisationAcces('ConsulterFeuillesRapportIntervention' , Utilisateur) %} 
        <li><a href="{{path('ConsulterFeuillesRapportIntervention')}}">Consulter les feuilles de présence & rapport d'intervention </a></li>
        {%endif%}

    <li class="active">Consultation d'une feuille de présence</li>
    {%endblock %}


{%block Contenu %}
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title" style="color:#1E5584">Feuille de présence</h2>
            </div>
            <div class="box-body">

                <h3>FEUILLE DE PRESENCE</h3>
                <br>		
                <div style="border: 2px solid #1E5584; padding: 3px; background-color: #FFFFFF; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px;">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h2 class="box-title">Coordonnées client</h2>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <table width="400">
                                                    <tr>
                                                        <th scope="row"><div align="left">Code Client:</div></th>
                                                        <td>{{Feuille.client.codeClient}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row"><div align="left">Client:</div></th>
                                                        <td>{{Feuille.client.raisonSociale}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row"><div align="left">Téléphone:</div></th>
                                                        <td>{{Feuille.client.telephone}}</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row"><div align="left">Adresse:</div></th>
                                                        <td>{{Feuille.client.adresseClient}}</td>
                                                    </tr>
                                                </table>
                                            </div>				
                                        </div>
                                    </div>  
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="box box-primary">
                                <div class="box-header with-border">
                                    <h2 class="box-title">Participants</h2>
                                </div>
                                <div class="box-body">
                                    <table class="table table-bordered">
                                        <tr class="row1 header blue">
                                            <th><center>Participant</center></th>
                                        <th><center>Validation Travail</center></th>
                                        </tr>
                                        {% for Participant in Feuille.participants %}
                                            <tr>
                                                <td>{{Participant.nomParticipant}} {{Participant.prenomParticipant}}</td>
                                                <td><center>Validé</center></td>                           
                                            </tr>
                                        {% endfor%}
                                    </table>
                                </div>
                            </div>
                        </div>			

                    </div>

                    <div class="col-md-13">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h2 class="box-title">Visa intervenant</h2>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <table width="800">
                                            <tr>
                                                <th scope="row" width="200"><div align="left">Intervenant:</div></th>
                                                <td>{{Feuille.intervenant.nomUtilisateur}} {{Feuille.intervenant.prenomUtilisateur}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><div align="left">Société:</div></th>
                                                <td>{{Feuille.intervenant.codeClient}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><div align="left">Numéro de commande:</div></th>
                                                <td>{{Feuille.numeroCommande}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><div align="left">Libellé commande:</div></th>
                                                <td><p>{{Feuille.libelleCommande}}</p></td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><div align="left">Fait à:</div></th>
                                                <td>{{Feuille.lieuIntervention}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><div align="left">Le:</div></th>
                                                <td>{{Feuille.dateIntervention|date('d-m-Y')}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><div align="left">Signature</div></th>
                                                <td></td>
                                            </tr>
                                        </table>
                                        <div style="padding-left: 15px">
                                            <table width="400">
                                                <tr>
                                                    <th width="185" scope="col">Matin:</th>
                                                    <td>De {{Feuille.heureDebutInterventionMatin|date('H:i')}} à {{Feuille.heureFinInterventionMatin|date('H:i')}}</td>
                                                </tr>
                                                <tr>
                                                    <th width="185" scope="col">Après-Midi:</th>
                                                    <td>De {{Feuille.heureDebutInterventionAM|date('H:i')}} à {{Feuille.heureFinInterventionAM|date('H:i')}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <br></div>
                <br>
                <div>
                    {% if AutorisationAcces('ConsulterFeuillesRapportIntervention' , Utilisateur) %} 
                        <a href="{{path('ConsulterFeuillesRapportIntervention')}}"><button class="btn btn-primary btn-block btn-flat">Retour aux feuilles de présence & rapports d'intervention</button></a>
                        <br>
                    {%endif%}
                    {% if AutorisationAcces('ModifierFeuillePresence' , Utilisateur) %} 
                        <a href="{{path('ModifierFeuillePresence', { 'id': Feuille.id }) }}"><button class="btn btn-primary btn-block btn-flat">Modifier la feuille de présence</button></a>
                        <br>
                    {%endif%}
                    {% if AutorisationAcces('TelechargerFeuillePresence' , Utilisateur) %} 
                        <a href="{{path('TelechargerFeuillePresence', { 'id': Feuille.id }) }}"><button type="submit" class="btn btn-primary btn-block btn-flat">Télécharger</button></a>
                        <br>
                    {%endif%}
                    {% if AutorisationAcces('SupprimerFeuille' , Utilisateur) %} 
                        <a href="{{path('SupprimerFeuille', { 'id': Feuille.id }) }}"><button type="submit" class="btn btn-primary btn-block btn-flat">Supprimer</button></a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
