<div class="modal fade" id="edit{{ commande.id }}">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Modification commande</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modifierCModalBody">
                {{ form_start(form, { 'method' : 'post', 'action': path('modifierC', { 'id' : commande.id }) }) }}
                <table class="table table-borderless">
                    <tr>
                        <th class="float-right">{{ form_label(form.nCommande) }}</th>
                        <td>{{ form_widget(form.nCommande, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>
                    <tr>
                        <th class="float-right">{{ form_label(form.client) }}</th>
                        <td>{{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>
                    <tr>
                        <th class="float-right">{{ form_label(form.datePiece) }}</th>
                        <td>{{ form_widget(form.datePiece, {'attr': {'class': 'form-control js-datepicker'}}) }}</td>
                    </tr>
                    <tr>
                        <th class="float-right"> {{ form_label(form.buManager) }}</th>
                        <td> {{ form_widget(form.buManager, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>

                    <tr>
                        <th class="float-right"> {{ form_label(form.affaire) }}</th>
                        <td> {{ form_widget(form.affaire, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
<script src="{{ asset('Template2/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('Template2/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script>

</script>
<script>
    $(document).ready(function () {
        var $activive = $('#timsoft_commandebundle_tetecommande_client');
        $activive.select2();

        $('#timsoft_commandebundle_tetecommande_buManager').select2();
        $('#timsoft_commandebundle_tetecommande_datePiece').datepicker({
                format: 'yyyy-mm-dd'
            }
        );

        // When sport gets selected ...

        $activive.change(function () {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$activive.attr('name')] = $activive.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url: $form.attr('action'),
                type: $form.attr('method'),
                data: data,
                success: function (html) {
                    // Replace current position field ...
                    $('#timsoft_commandebundle_tetecommande_affaire').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#timsoft_commandebundle_tetecommande_affaire')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    });
</script>
