<style>
    .table td, .table th {
        padding: .49rem;
    }
</style>
<div id="editTask" class="modal fade">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-gradient-light">
                <h5 id="eventInfo" class="modal-title">Modifier un Task</h5>
                <button type="button" class="close" data-dismiss="modal" id="close"><span
                            aria-hidden="true">×</span> <span
                            class="sr-only">close</span></button>
            </div>{{ form_start(edit_form, { 'name':'edit','method' : 'post', 'action': path('taskevent_edit', {id: taskEvent.id}) }) }}
            <div id="modalBody" class="modal-body ">
                <div class="card bg-gradient-light card-outline card-primary">
                    <div class="card-body">
                        <table class="table table-borderless">
                            <tr>
                                <th>Type</th>
                                <td colspan="2">
                                    <div class="form-group">
                                        {% for key, allDayItem in edit_form.allDay %}
                                            <div class="form-check">
                                                {{ form_widget(allDayItem, {'attr': {'class': 'form-check-input'}}) }}
                                                {{ form_label(allDayItem) }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Date</th>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        {{ form_widget(edit_form.start, {'attr': {'class': 'date form-control' , 'autocomplete': 'off'}}) }}
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        {{ form_widget(edit_form.end, {'attr': {'class': 'date form-control' , 'autocomplete': 'off'}}) }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Assigner à</th>
                                <td>
                                    {{ form_widget(edit_form.utilisateur, {'attr': {'class': 'form-control'}}) }}
                                </td>
                                <td>
                                    {{ form_widget(edit_form.client, {'attr': {'class': 'form-control'}}) }}
                                </td>
                            </tr>
                            <tr>
                                <th>Task</th>
                                <td>{{ form_widget(edit_form.activite, {'attr': {'class': 'form-control'}}) }}</td>
                                <td>{{ form_widget(edit_form.task, {'attr': {'class': 'form-control'}}) }}</td>
                            </tr>
                            <tr>
                                <th>Statut</th>
                                <td>{{ form_widget(edit_form.statut, {'attr': {'class': 'form-control'}}) }}</td>
                                <td>{{ form_widget(edit_form.motif, {'attr': {'class': 'form-control'}}) }}</td>
                            </tr>
                            <tr>
                                <th>Étiquette/Site</th>
                                <td> {{ form_widget(edit_form.etiquette, {'attr': {'class': 'form-control'}}) }}</td>
                                <td>{{ form_widget(edit_form.site, {'attr': {'class': 'form-control'}}) }}</td>
                            </tr>
                            <tr>
                                <th>Progression/Rapport</th>
                                <td>
                                    <div class="form-group">
                                        {% for key, allDayItem in edit_form.progression %}
                                            <span>
                                                {{ form_widget(allDayItem) }}
                                               <span class="badge"
                                                     style="font-size: 15px"> {{ form_label(allDayItem) }}</span>
                                            </span>
                                        {% endfor %}
                                    </div>
                                </td>
                                <td>{{ form_widget(edit_form.rapport, {'attr': {'class': 'form-control'}}) }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gradient-light">
                <button class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-window-close fa-lg"></i>
                </button>
                {% if AutorisationAcces('taskevent_delete' , app.user) %}
                    <a href="#" id="Supprimer{{ taskEvent.id }}" class="btn btn-danger">
                        <i class="fas fa-trash fa-lg"></i>
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-lg"></i></button>
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css"
      href="{{ asset('Template2/plugins/datetimepicker-master/build/jquery.datetimepicker.min.css') }}"/>
<script src="{{ asset('Template2/plugins/datetimepicker-master/build/jquery.datetimepicker.full.min.js') }}"></script>
<script>
    var $activive = $('#timsoft_tasksbundle_taskevent_activite');
    // When sport gets selected ...
    $activive.change(function () {
        // ... retrieve the corresponding form.
        var $form = $(this).closest('form');
        // Simulate form data, but only include the selected sport value.
        var data = {};
        data[$activive.attr('name')] = $activive.val();
        // Submit data via AJAX to the form's action path.
        $.ajax({
            url: $form.attr('action'),
            type: $form.attr('method'),
            data: data,
            success: function (html) {
                // Replace current position field ...
                $('#timsoft_tasksbundle_taskevent_task').replaceWith(
                    // ... with the returned one from the AJAX response.
                    $(html).find('#timsoft_tasksbundle_taskevent_task')
                );
                // Position field now displays the appropriate positions.
            }
        });
    });
</script>
<script>
    $('form[name="edit"]').submit(function (event) {
        event.preventDefault();
        if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Date non valable, veuillez la vérifier et réessayer!',
            });

        } else {

            var cc = new FormData(this);

            var url = "{{ path('taskevent_edit', {id: taskEvent.id}) }}";
            var formSerialize = $(this).serialize();

            $.ajax({
                url: url,
                data: formSerialize,
                type: 'POST',
                dataType: "json",
            }).done(function (response) {
                if (response.taskExist) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Il existe déjà une autre Task ayant un même créneau!',
                    })
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Task ajoutée avec succès !',
                        // text: 'Il existe déjà une autre Task ayant un même créneau!',
                    });
                    $('#editTask').modal('hide');
                }
            });
        }
    });
    $(document).ready(function () {
        var editTask = $('form[name="edit"]');
        $.datetimepicker.setLocale('fr');
        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').attr('autocomplete', 'off');
        $('form[name="edit"] #timsoft_tasksbundle_taskevent_utilisateur').select2({
            placeholder: 'Assigner à',

        });
        $('form[name="edit"] #timsoft_tasksbundle_taskevent_client').select2({
            placeholder: 'Choisir le client'
        });
        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker({
            format: 'd F Y',
            // timepicker: false,
            onShow: function (ct) {
                this.setOptions({
                    maxDate: $('#timsoft_tasksbundle_taskevent_end').val() ? $('#timsoft_tasksbundle_taskevent_end').val() : false,
                    formatDate: 'd F Y H:i'
                })
            },
            onChangeDateTime: function (dp, $input) {
                if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                    $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                    $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                } else {
                    $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                    $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                }
            }
        });
        var allDay = $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[allDay]"]:checked');
        if ($('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[allDay]"]:checked').val() == 1) {
            $('#timsoft_tasksbundle_taskevent_start').datetimepicker({
                format: 'd F Y',
                timepicker: false,
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#timsoft_tasksbundle_taskevent_end').val() ? $('#timsoft_tasksbundle_taskevent_end').val() : false,
                        formatDate: 'd F Y'
                    })
                },
                onChangeDateTime: function (dp, $input) {
                    if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="new"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                        // alert('Date non valable, veuillez la vérifier et réessayer');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                    } else {
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                    }
                }
            });
            $('#timsoft_tasksbundle_taskevent_end').datetimepicker({
                format: 'd F Y',
                timepicker: false,
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#timsoft_tasksbundle_taskevent_start').val() ? $('#timsoft_tasksbundle_taskevent_start').val() : false,
                        formatDate: 'd F Y'
                    })
                },
                onChangeDateTime: function (dp, $input) {
                    if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                        // alert('Date non valable, veuillez la vérifier et réessayer');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                    } else {
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                    }
                }
            });
        } else {
            $('#timsoft_tasksbundle_taskevent_start').datetimepicker({
                format: 'd F Y H:i',
                timepicker: true,
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#timsoft_tasksbundle_taskevent_end').val() ? $('#timsoft_tasksbundle_taskevent_end').val() : false
                        , formatDate: 'd F Y H:i'
                    })
                },
                onChangeDateTime: function (dp, $input) {
                    if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                        // alert('Date non valable, veuillez la vérifier et réessayer');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                    } else {
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                    }
                }
            });

            $('#timsoft_tasksbundle_taskevent_end').datetimepicker({
                format: 'd F Y H:i',
                timepicker: true,
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#timsoft_tasksbundle_taskevent_start').val() ? $('#timsoft_tasksbundle_taskevent_start').val() : false
                        , formatDate: 'd F Y H:i'
                    })
                },
                onChangeDateTime: function (dp, $input) {
                    if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="new"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                        // alert('Date non valable, veuillez la vérifier et réessayer');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                    } else {
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                        $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                    }
                }
            });
        }
        $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[allDay]"]').change(function () {
            if (this.value == 1) {
                $('#timsoft_tasksbundle_taskevent_start').datetimepicker({
                    format: 'd F Y',
                    timepicker: false,
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#timsoft_tasksbundle_taskevent_end').val() ? $('#timsoft_tasksbundle_taskevent_end').val() : false,
                            formatDate: 'd F Y H:i'
                        })
                    },
                    onChangeDateTime: function (dp, $input) {
                        if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="new"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                            // alert('Date non valable, veuillez la vérifier et réessayer');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                        } else {
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                        }
                    }
                });
                $('#timsoft_tasksbundle_taskevent_end').datetimepicker({
                    format: 'd F Y',
                    timepicker: false,
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#timsoft_tasksbundle_taskevent_start').val() ? $('#timsoft_tasksbundle_taskevent_start').val() : false,
                            formatDate: 'd F Y H:i'
                        })
                    },
                    onChangeDateTime: function (dp, $input) {
                        if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="new"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                            // alert('Date non valable, veuillez la vérifier et réessayer');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                            $('form[name="v"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                        } else {
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                        }
                    }
                });
            } else {
                $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker({
                    format: 'd F Y H:i',
                    timepicker: true,
                    onShow: function (ct) {
                        this.setOptions({
                            maxDate: $('#timsoft_tasksbundle_taskevent_end').val() ? $('#timsoft_tasksbundle_taskevent_end').val() : false
                            , formatDate: 'd F Y H:i'
                        })
                    },
                    onChangeDateTime: function (dp, $input) {
                        if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="new"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                            // alert('Date non valable, veuillez la vérifier et réessayer');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                        } else {
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                        }
                    }
                });
                $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').datetimepicker({
                    format: 'd F Y H:i',
                    timepicker: true,
                    onShow: function (ct) {
                        this.setOptions({
                            minDate: $('#timsoft_tasksbundle_taskevent_start').val() ? $('#timsoft_tasksbundle_taskevent_start').val() : false
                            , formatDate: 'd F Y H:i'
                        })
                    },
                    onChangeDateTime: function (dp, $input) {
                        if (new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_start').datetimepicker('getValue')) > new Date($('form[name="edit"] #timsoft_tasksbundle_taskevent_end').datetimepicker('getValue'))) {
                            // alert('Date non valable, veuillez la vérifier et réessayer');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').addClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').addClass('is-invalid');
                        } else {
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_start').removeClass('is-invalid');
                            $('form[name="edit"] #timsoft_tasksbundle_taskevent_end').removeClass('is-invalid');
                        }
                    }
                });
            }
        });
        var $statut = $('form[name="edit"] #timsoft_tasksbundle_taskevent_statut');
        if ($statut.val() !== 'Bloqué') {
            $('form[name="edit"] #timsoft_tasksbundle_taskevent_motif').parent().hide();
        }
        $statut.on('change', function (e) {
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"]').each(function (e) {
                $(this).removeAttr("disabled");
                $(this).removeAttr("checked");
                $(this).find('label').css('color', 'red');
            });
            if (this.value !== 'Bloqué') {
                $('form[name="edit"] #timsoft_tasksbundle_taskevent_motif').parent().hide();
                if (this.value === 'Done') {
                    $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="100"]').attr('checked', 'checked');
                }
                if (this.value === 'To DO') {
                    $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="0"]').attr('checked', 'checked');
                }
            } else {
                $('form[name="edit"] #timsoft_tasksbundle_taskevent_motif').parent().show();
            }
            progress(this.value);
        });
        progress('{{ taskEvent.statut }}');
        $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"]').each(function (e) {
            $(this).next().css('background-color', perc2color(this.value));
        });


        /* -----------Suppression----------- */
        $("#Supprimer" + '{{ taskEvent.id }}').click(function () {
            Swal.fire({
                title: 'Souhaitez-vous réellement supprimer cette Task?',
                // text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui, supprimez-la!',
                cancelButtonText: 'Annuler',
            }).then((result) => {
                if (result.value) {
                    $.ajax({
                        url: '{{ path('taskevent_delete', {id: taskEvent.id}) }}',
                        type: "POST",
                        //   async: false,
                        success: function (data) {
                            $('#editTask').modal('hide');
                            Swal.fire(
                                'Supprimé!',
                                'La Task a été supprimée.',
                                'success'
                            );
                        },
                        error: function () {
                            alert("Vous ne pouvez pas faire cette action");
                        },

                    });
                }
            });
        })

    });
    var label = $("label[for='" + 'timsoft_tasksbundle_taskevent_progression' + "']");
    label.append(': <div id="prog" style="display: inline-block"></div>');

    function progress(value) {
        if (value === 'In Progress') {
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="0"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="100"]').attr('disabled', 'disabled');
        } else if (value === 'Done') {
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="0"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="25"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="50"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="75"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="90"]').attr('disabled', 'disabled');
        } else if (value === 'To DO') {
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="100"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="25"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="50"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="75"]').attr('disabled', 'disabled');
            $('form[name="edit"] input[name="timsoft_tasksbundle_taskevent[progression]"][value="90"]').attr('disabled', 'disabled');
        }

    }

    function perc2color(perc) {
        var r, g, b = 0;
        if (perc < 50) {
            r = 255;
            g = Math.round(5.1 * perc);
        } else {
            g = 255;
            r = Math.round(510 - 5.10 * perc);
        }
        var h = r * 0x10000 + g * 0x100 + b * 0x1;
        return '#' + ('000000' + h.toString(16)).slice(-6);
    }
</script>
