{% extends 'Squelette.html.twig' %}

{% block Titre %}
    Portail web de TimSoft - Ajout d'un utilisateur
{% endblock %}

{% block Section %}
    <h1>
        Gestion des utilisateurs
        <small>Ajout d'un utilisateur</small>
    </h1>
{% endblock %}


{% block Navigation %}
    <li class="breadcrumb-item active">Ajouter un utilisateur</li>
{% endblock %}
{% block SideBar %}
{% endblock %}
{% block Contenu %}
    {% for message in app.flashes('KO-Ajout') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
            <div id="my-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Erreur d'ajout</h4>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            </body>
        </div>
    {% endfor %}
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header with-border">
                <h2 class="card-title" style="color:#1E5584">Informations Utilisateur</h2>
                <div class="card-tools pull-center">
                </div>
            </div>
            <div class="card-body">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Nom</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-pen"></i></span>
                                </div>
                                {{ form_widget(form.nomUtilisateur , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Nom de utilisateur...'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                </div>
                                {{ form_widget(form.email , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Adresse Mail...'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Téléphone</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                </div>
                                {{ form_widget(form.telephoneUtilisateur , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Téléphone...'}} ) }}
                            </div>
                        </div>
                        {{ form_widget(form.photoDeProfilFile  , { 'attr' : { 'style':'display:none'} }) }}
                        {# <div class="form-group">
                            <label>Photo de Profil</label>
                            {{ form_widget(form.photoDeProfilFile) }}
                        </div>#}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Prénom</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-pen"></i></span>
                                </div>
                                {{ form_widget(form.prenomUtilisateur , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Nom de utilisateur...'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Société</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-building"></i></span>
                                </div>
                                {{ form_widget(form.client , {'attr' : {'class' : 'form-control chosen-select-deselect'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Catégorie</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user-friends"></i></span>
                                </div>
                                {{ form_widget(form.roleUtilisateur , {'attr' : {'class' : 'form-control'}} ) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Business Units</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-users"></i></span>
                                </div>
                                {{ form_widget(form.bus , {'attr' : {'class' : 'form-control', 'data-placeholder': 'Sélectionnez le(s) BU(s)' }} ) }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer">
                <table align="center" width="30%">
                    <tr>
                        <td width="50%">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"
                                        value="{{ 'registration.submit'|trans }}">
                                    <i class="fas fa-user-plus"></i>
                                    Enregister
                                </button>
                            </div>

                        </td>
                        <td width="50%">
                            <div class="form-group">
                                <button type="reset" class="btn btn-block btn-secondary">Annuler</button>
                            </div>
                        </td>
                    </tr>
                </table>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
    {% block script %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                $('#fos_user_registration_form_bus').select2();
                $("#fos_user_registration_form_roleUtilisateur")
                    .change(function () {
                        $("#fos_user_registration_form_roleUtilisateur option:selected").each(function () {
                            if ($(this).text() == 'Client' || $(this).text() == 'Administrateur' || $(this).text() == 'Gestionnaire') {
                                $('#fos_user_registration_form_bus').parents('.form-group').hide();
                            } else {
                                $('#fos_user_registration_form_bus').parents('.form-group').show();
                            }
                        });
                    });
                $('#fos_user_registration_form_client').select2();

            });
        </script>
    {% endblock %}






    {#{% extends "@FOSUser/layout.html.twig" %}

    {% block fos_user_content %}
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    {% endblock fos_user_content %}#}
