<div class="modal fade" id="show{{ activite.id }}">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details d'activité</h4>
            </div>
            <div class="modal-body">

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th>Libelle</th>
                        <td>{{ activite.libelle }}</td>
                    </tr>
                    <tr>
                        <th>Tasks</th>
                        <td>
                            <ul>
                                {% for task in activite.tasks %}
                                    <li>{{ task.libelle }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Revenir à la liste</button>

                <a href="{{ path('activite_delete', { 'id':activite.id }) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </a>

                <a id="{{ activite.id }}" href="{{ path('activite_edit', {'id': activite.id}) }}" data-toggle="modal">
                    <button class="btn btn-primary">Modifier</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script src="{{ asset('Template2/plugins/jquery/jquery.min.js') }}"></script>
<script>
    var id = {{ activite.id|json_encode|raw }};
    $('#' + id).on('click', function (e) {
        window.location.href = '{{ path('activite_edit', {'id': activite.id}) }}';
    })
</script>
