<h3>En attente de votre validation : Prestation du  {{Feuille.dateIntervention|date('d-m-Y')}} réalisée par  « {{Feuille.intervenant}} » !</h3>


<b>Intervenant:</b>  {{Feuille.intervenant}} <br>
<b>Client:</b>  {{Feuille.client}} <br>
<b>N° Commande: </b>{{ Feuille.intervention.lc.commande.nCommande }}<br>
<b>Libellé: </b>{{ Feuille.intervention.lc.libelle }}<br>
{% if not(Feuille.heureDebutInterventionMatin == null) %}
    <b>Horaire d'intervention (Matin) :</b> de {{Feuille.heureDebutInterventionMatin|date('H:i')}} à {{Feuille.heureFinInterventionMatin|date('H:i')}}<br>
{% endif %}
 {% if not(Feuille.heureDebutInterventionAM == null) %}
    <b>Horaire d'intervention (Après-Midi) :</b> de {{Feuille.heureDebutInterventionAM|date('H:i')}} à {{Feuille.heureFinInterventionAM|date('H:i')}} <br>
{% endif %}
<b> Lieu: </b>{{ Feuille.lieuIntervention}}<br>
{% if Feuille.participants|length > 0 %}
<b>Participants:</b><br>
{% for Participant in Feuille.participants %}
    -  {{Participant.nomParticipant}} {{Participant.prenomParticipant}}<br>
{% endfor%}
{% endif %}
<b>Facturable/Gratuit: </b>
{% if Feuille.intervention.facturation == 'Facturé' %}
Facturable <br>
{% else %}
Gratuit <br>
{% endif %}
<b> Statut: </b>{{ Feuille.intervention.statut}}<br>
{% if Feuille.intervention.accompagnements|length > 0 %}
<b>Ressource Accompagnement :</b><br>
{% for accomp in Feuille.intervention.accompagnements %}
    -  {{ accomp.nomUtilisateur }} {{ accomp.prenomUtilisateur }}<br>
{% endfor %}
{% endif %}
{% if Feuille.intervention.commentaire %}
<b>Commentaire: </b>{{ Feuille.intervention.commentaire }} <br>
{% endif %}
<b>Chef de projet client: </b>{{ Feuille.intervention.confirmePar }} <br><br>
{% if Feuille.validationClient %}
<b>Statut de la feuille: </b> {% if Feuille.statutValidation%} Validé {% else %} : En attente de validation client {% endif%}<br><br>
Veuillez procéder svp à la validation de cette intervention : <a href="{{ app.request.getSchemeAndHttpHost() ~ path("ConsulterFeuillePresence", {id : Feuille.id}) }}">« <b>Portail Script Timsoft</b> »</a> <br>
N’hésitez pas à partager avec nous vos commentaires dans la rubrique « remarques Client » du rapport. <br>
{% else %}
<b>Statut de la feuille: </b>Validé
{% endif %}
<br>
<br>
Cordialement,<br>
Direction des Opérations Timsoft !
