<div class="modal fade" id="generer{{ commande.id }}">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title">Modification</h4>
            </div>
            <div class="modal-body" id="modifierCModalBody">
                {{ form_start(form, { 'method' : 'post', 'action': path('preCommandeGenerer', { 'id' : commande.id }) }) }}
                <table class="table table-borderless">
                    <tr>
                        <th class="float-right">{{ form_label(form.nCommande) }}</th>
                        <td>{{ form_widget(form.nCommande, {'attr': {'class': 'form-control', 'autocomplete' : 'off'}}) }}
                            <div id="folder_exists_error" style="display: none;">
                                <h5><span class="badge badge-danger">Le numéro de cette commande existe déjà</span></h5>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="float-right">{{ form_label(form.client) }}</th>
                        <td>{{ form_widget(form.client, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>
                    <tr>
                        <th class="float-right">{{ form_label(form.datePiece) }}</th>
                        <td>{{ form_widget(form.datePiece, {'attr': {'class': 'form-control js-datepicker'}}) }}</td>
                    </tr>
                    <tr>
                        <th class="float-right"> {{ form_label(form.buManager) }}</th>
                        <td> {{ form_widget(form.buManager, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>

                    <tr>
                        <th class="float-right"> {{ form_label(form.affaire) }}</th>
                        <td> {{ form_widget(form.affaire, {'attr': {'class': 'form-control'}}) }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary save">Sauvegarder</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
<script>
    var inUse = false;

    function checkExists() {
        // Get the input value
        var nCommande = $("#timsoft_commandebundle_tetecommande_nCommande").val();

        // Send an ajax request with the user input data
        $.ajax({
            type: "POST",
            url: "{{ path('timsoft_commande_precommande_exists') }}",
            data: {nCommande: nCommande}
        })
            .done(function (data) {
                if (typeof data.status != "undefined" && data.status != "undefined" && data.status == "OK") {
                    if (typeof data.message != "undefined" && data.message != "undefined") {
                        if (parseInt(data.message) == 1) {
                            // Folder name already exists
                            // => raise flag
                            inUse = true;
                            // => display error message
                            $("#folder_exists_error").show();
                            $('.save').attr('disabled', 'disabled');
                            return;
                        }
                    }
                }

            });

        // We suppose all went well.
        // If not, the Ajax call will update the flag and display the error message
        inUse = false;
        $('.save').removeAttr('disabled');

        $("#folder_exists_error").hide();
    }

    $(document).ready(function () {

        // Each time we modify the folder name, do an ajax check
        $('#timsoft_commandebundle_tetecommande_nCommande').on('input', function (e) {
            checkExists()
        });

        // On form submission, check data
        $("form[name=timsoft_commandebundle_tetecommande]").on('submit', function (e) {
            // Hide errors
            $("#folder_exists_error").hide();

            if (inUse === true) {
                $("#folder_exists_error").show();
                return false;
            }
        });
    });


</script>
