{% extends 'Squelette.html.twig' %}

{% block css %}
  {{ parent() }}
  <script src="{{ asset('Template/dist/js/pages/dashboard2.js') }}"></script>        
{% endblock %}

{% block Titre %}
    Portail web de TimSoft - Accueil
{%endblock %}

{%block Section %} Accueil
    
{% endblock %}


{% block Navigation %}{%endblock %}

{%block Contenu %}
  <div class="col-md-9">
      {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
                <div id="my-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Notification</h4>
                            </div>
                            <div class="modal-body">
                                {{message}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </body>
        </div>
    {% endfor %}
    
    {% for message in app.flashes('Confirmation') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
                <div id="my-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Confirmation de création de compte</h4>
                            </div>
                            <div class="modal-body">
                                {{message}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </body>
        </div>
    {% endfor %}
    
    {% for message in app.flashes('KO-ConsulterUtilisateur') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
                <div id="my-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Erreur</h4>
                            </div>
                            <div class="modal-body">
                                {{message}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </body>
        </div>
    {% endfor %}
    
    {% for message in app.flashes('OK-ReconfirmationMail') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
                <div id="my-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Confirmation de la nouvelle adresse mail</h4>
                            </div>
                            <div class="modal-body">
                                {{message}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </body>
        </div>
    {% endfor %}
    
    {% set Consultant = app.user.id%}
    {% set NBFeuilleConsultant = FeuilleParConsultant(Consultant)|length %}
    {% set NBRapportConsultant = RapportParConsultant(Consultant)|length %}
    
   
    <!-- Quelques statistiques -->                                
     {#   <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="color:#1E5584">Quelques statistiques relatives à {{app.user.nomUtilisateur}} {{app.user.prenomUtilisateur}}</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                  </div>
                            </div>
                             <div class="box-body">
                                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <a href="{{path('ConsulterFeuilleParConsultant')}}">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-people-outline"></i></span>

                                <div class="info-box-content">
                                    <h5>Interventions</h5>
                                    
                                    <span class="info-box-number"><center>{{NBFeuilleConsultant}}</center></span>
                                </div>
                                <!-- /.info-box-content -->
                            </div></a>
                        <!-- /.info-box -->
                    </div>
                    
                     
                   
                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>                               
                           
        #}
       
         <div class="row">
                    <div class="col-md-6">

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="color:#1E5584">Validation des feuilles de présence de {{app.user.nomUtilisateur}} {{app.user.prenomUtilisateur}}</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                  </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                     <div class="col-md-6">
                                        <div class="chart-responsive">
                                            <canvas id="pieChartFeuilleIntervention" height="120"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="chart-legend clearfix">
                                            <li> Le nombre total des feuilles de présence<b> {{NBFeuilleConsultant}}</b></li>
                                            <li><i class="fa fa-circle-o text-red"></i> Non Validée</li>
                                            <li><i class="fa fa-circle-o text-green"></i> Validée</li>
                                        </ul>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="{{ path('ConsulterFeuilleParStatutParConsultant', {'validation': 0}) }}">Feuilles Non Validées
                                        {%if not (NBFeuilleConsultant == 0)%}
                                            <span class="pull-right text-red">{{((FeuilleParStatutParConsultant(app.user.id,0)|length / NBFeuilleConsultant)*100)|number_format(2, '.')| replace({".00" : ""})}}%</span>
                                        {%else%}
                                            <span class="pull-right text-red">0%</span>
                                        {% endif%}    
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('ConsulterFeuilleParStatutParConsultant', { 'validation': 1}) }}">Feuilles Validées 
                                        {%if not (NBFeuilleConsultant == 0)%}
                                            <span class="pull-right text-green">{{((FeuilleParStatutParConsultant(app.user.id,1)|length / NBFeuilleConsultant)*100)|number_format(2, '.')| replace({".00" : ""})}}%</span>
                                        {%else%}
                                            <span class="pull-right text-green">0%</span>
                                        {% endif%}   
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                                         <div class="col-md-6">

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="color:#1E5584">Validation des rapports d'intervention de {{app.user.nomUtilisateur}} {{app.user.prenomUtilisateur}}</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                  </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                     <div class="col-md-6">
                                        <div class="chart-responsive">
                                            <canvas id="pieChartRapportIntervention" height="120"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="chart-legend clearfix">
                                            <li> Le nombre total de rapports d'intervention<b> {{RapportParConsultant(app.user.id)|length}}</b></li>
                                            <li><i class="fa fa-circle-o text-red"></i> Non Validé</li>
                                            <li><i class="fa fa-circle-o text-green"></i> Validé</li>
                                        </ul>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        <a href="{{ path('ConsulterRapportParValidationParConsultant', { 'validation': 0 }) }}">Rapport Non Validés
                                        {%if not (RapportParConsultant(app.user.id)|length == 0)%}
                                            <span class="pull-right text-red">{{((RapportParValidationParConsultant(app.user.id,0)|length / RapportParConsultant(app.user.id)|length)*100)|number_format(2, '.')| replace({".00" : ""})}}%</span>
                                        {%else%}
                                            <span class="pull-right text-red">0%</span>
                                        {% endif%}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('ConsulterRapportParValidationParConsultant', { 'validation': 1 }) }}">Rapports Validés 
                                        {%if not (RapportParConsultant(app.user.id)|length == 0)%}
                                            <span class="pull-right text-green">{{((RapportParValidationParConsultant(app.user.id,1)|length / RapportParConsultant(app.user.id)|length)*100)|number_format(2, '.')| replace({".00" : ""})}}%</span>
                                        {%else%}
                                            <span class="pull-right text-green">0%</span>
                                        {% endif%}    
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>
        
        <!-- Intervention -->                                
        <div class="row">
                    <div class="col-md-12">

                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="color:#1E5584">Interventions par {{app.user.nomUtilisateur}} {{app.user.prenomUtilisateur}}</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                  </div>
                            </div>
                             <div class="box-body">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p class="text-center">
                                            <strong>Interventions de l'année {{annee}}</strong>
                                        </p>

                                        <div class="chart">
                                            <!-- Sales Chart Canvas -->
                                            <canvas id="barChart" style="height:280px"></canvas>
                                        </div>
                                        <!-- /.chart-responsive -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-3">
                                        <p class="text-center">
                                            <strong>Statistiques d'interventions</strong>
                                        </p>
                                        
                                        <a href="{{path('ConsulterRapportPartTypeParConsultant', {'typeIntervention': 'Formation de perfectionnement sur site'})}}">
                                        <div class="progress-group">
                                            <span class="progress-text">Formation de perfectionnement sur site</span>
                                            <span class="progress-number"><b>{{RapportParTypeParConsultant('Formation de perfectionnement sur site',Consultant)|length}}/{{NBRapportConsultant}}</b></span>

                                            <div class="progress sm">
                                            {%if not (NBRapportConsultant == 0)%}
                                                <div class="progress-bar" style="width: {{(RapportParTypeParConsultant('Formation de perfectionnement sur site',Consultant)|length / NBRapportConsultant*100)|number_format(2, '.')| replace({".00" : ""})}}% ;  background-color:#1E5584 !important"></div>
                                            {%else%}
                                                    <div class="progress-bar"  style="width: 0% ;  background-color:#1E5584 !important" ></div>
                                            {% endif%} 
                                            </div>
                                        </div>
                                        </a>
                                        <a href="{{path('ConsulterRapportPartTypeParConsultant', {'typeIntervention': 'Asssistance sur site'})}}">
                                        <div class="progress-group">
                                            <span class="progress-text">Asssistance sur site</span>
                                            <span class="progress-number"><b>{{RapportParTypeParConsultant('Asssistance sur site',Consultant)|length}}/{{NBRapportConsultant}}</b></span>
                                            <div class="progress sm">
                                            {%if not (NBRapportConsultant == 0)%}
                                                <div class="progress-bar" style="width: {{((RapportParTypeParConsultant('Asssistance sur site',Consultant)|length / NBRapportConsultant)*100)|number_format(2, '.')| replace({".00" : ""})}}% ;  background-color:#1000A5 !important"></div>
                                            {%else%}
                                                    <div class="progress-bar"  style="width: 0% ;  background-color:#1000A5 !important" ></div>
                                            {% endif%} 
                                            </div>
                                        </div>
                                        </a>
                                        <a href="{{path('ConsulterRapportPartTypeParConsultant', {'typeIntervention': 'Intervention technique'})}}">
                                        <div class="progress-group">
                                            <span class="progress-text">Intervention technique</span>
                                            <span class="progress-number"><b>{{RapportParTypeParConsultant('Intervention technique',Consultant)|length}}/{{NBRapportConsultant}}</b></span>

                                            <div class="progress sm">
                                            {%if not (NBRapportConsultant == 0)%}
                                                    <div class="progress-bar"  style="width: {{((RapportParTypeParConsultant('Intervention technique',Consultant)|length / NBRapportConsultant)*100)|number_format(2, '.')| replace({".00" : ""})}}% ;  background-color:#21A49E !important" ></div>
                                            {%else%}
                                                    <div class="progress-bar"  style="width: 0% ;  background-color:#21A49E !important" ></div>
                                            {% endif%}  
                                            </div>
                                        </div>
                                        </a>
                                        <a href="{{path('ConsulterRapportPartTypeParConsultant', {'typeIntervention': 'Audit'})}}">
                                        <div class="progress-group">
                                            <span class="progress-text">Audit</span>
                                            <span class="progress-number"><b>{{RapportParTypeParConsultant('Audit',Consultant)|length}}/{{NBRapportConsultant}}</b></span>

                                            <div class="progress sm">
                                            {%if not (NBRapportConsultant == 0)%}
                                                <div class="progress-bar progress-bar-yellow" style="width: {{((RapportParTypeParConsultant('Audit',Consultant)|length /NBRapportConsultant)*100)|number_format(2, '.')| replace({".00" : ""})}}% ;  background-color:#0796FE !important"></div>
                                            {%else%}
                                                    <div class="progress-bar"  style="width: 0% ;  background-color:#0796FE !important" ></div>
                                            {% endif%}    
                                            </div>
                                        </div>
                                        </a>
                                        <!-- /.progress-group -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>                              
           {#         
        <!-- Derniers Clients -->
        <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title" style="color:#1E5584">Derniers Clients</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                  </div>
                            </div>
                            <div class="box-body">
                                <br>
                                <table class="table1">
            <thead>
                <tr class="row1 header blue">
                    <th class="cell1">
                        Client
                    </th>
                    <th class="cell1">
                        Email
                    </th>
                    <th class="cell1">
            <center> Date d'adhesion</center>
            </th>
             <th class="cell1">
            <center> Action </center>
            </th>
            </tr>
            </thead>
            <tbody>
                {% for clt in LastClients%}
                    <tr class="row1">
                        <td class="cell1">
                            {{clt.raisonSociale}}
                        </td>
                        <td class="cell1">
                            {{clt.adresseMailClient}}
                        </td>
                        <td class="cell1">
                <center>{{clt.dateAdhesionClient|date('d-m-Y')}}</center>
                </td>
                <td class="cell1">
                <center>
                                <a href="{{ path('ConsulterUnClient', { 'id': clt.id }) }}"><img src="{{ asset('Template/Consulter.png') }}"  title="Consulter les informations de {{clt.raisonSociale}}"></a>
                                <a href="{{ path('ModifierClient', { 'id': clt.id }) }}"><img src="{{ asset('Template/Editer.png') }}"  title="Modifier {{clt.raisonSociale}}"></a>
                                <a href="{{ path('SupprimerUnClient', { 'id': clt.id }) }}"><img src="{{ asset('Template/SupprimerUser.png') }}"  title="Supprimer {{clt.raisonSociale}}"></a>
                </center> 
                </td>
                </tr>
            {% endfor%}
            </tbody>
        </table>
                            </div>
                           
                        </div>
                    </div>
                </div>
       
                                        
                                        
                
       
         </div>#}
{% endblock %}

{% block script %}
  {{ parent() }}
<!-- ChartJS -->
    <script src="{{ asset('Template/bower_components/Chart.js/Chart.js') }}"></script>
    <script src="{{ asset('Template/dist/js/pages/dashboard2.js') }}"></script>

    <!-- Fin ChartJS -->

       <script>
        var pieChartCanvas = $('#pieChartRapportIntervention').get(0).getContext('2d');
        var pieChart       = new Chart(pieChartCanvas);
        //var data = "";// haka mezelou string
        //data = $.parseJSON(data);
        //console.log(data);
        var PieData        = [
          {
            value    : '{{ RapportParValidationParConsultant(app.user.id,1)|length }}',
            color    : '#00A65A',
            highlight: '#00A65A',
            label    : 'Rapport validé'
          },
          {
            value    : '{{  RapportParValidationParConsultant(app.user.id,0)|length }}',
            color    : '#DF4B39',
            highlight: '#DF4B39',
            label    : 'Rapport non validé'
          }
        ];
        var pieOptions     = {
          // Boolean - Whether we should show a stroke on each segment
          segmentShowStroke    : true,
          // String - The colour of each segment stroke
          segmentStrokeColor   : '#fff',
          // Number - The width of each segment stroke
          segmentStrokeWidth   : 1,
          // Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout: 50, // This is 0 for Pie charts
          // Number - Amount of animation steps
          animationSteps       : 100,
          // String - Animation easing effect
          animationEasing      : 'easeOutBounce',
          // Boolean - Whether we animate the rotation of the Doughnut
          animateRotate        : true,
          // Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale         : false,
          // Boolean - whether to make the chart responsive to window resizing
          responsive           : true,
          // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio  : false,

          // String - A tooltip template
          tooltipTemplate      : '<%=value %> <%=label%>'
        };
        // Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        pieChart.Doughnut(PieData, pieOptions);
        </script>
        <script>
        var pieChartCanvas = $('#pieChartFeuilleIntervention').get(0).getContext('2d');
        var pieChart       = new Chart(pieChartCanvas);
        //var data = "";// haka mezelou string
        //data = $.parseJSON(data);// lehna 3malna el parse bech ywali objet json
        //console.log(data);
        var PieData        = [
          {
            value    : '{{ FeuilleParStatutParConsultant(app.user.id,1)|length }}',
            color    : '#00A65A',
            highlight: '#00A65A',
            label    : 'Feuille validée'
          },
          {
            value    : '{{ FeuilleParStatutParConsultant(app.user.id,0)|length }}',
            color    : '#DF4B39',
            highlight: '#DF4B39',
            label    : 'Feuille non validée'
          }
        ];
        var pieOptions     = {
          // Boolean - Whether we should show a stroke on each segment
          segmentShowStroke    : true,
          // String - The colour of each segment stroke
          segmentStrokeColor   : '#fff',
          // Number - The width of each segment stroke
          segmentStrokeWidth   : 1,
          // Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout: 50, // This is 0 for Pie charts
          // Number - Amount of animation steps
          animationSteps       : 100,
          // String - Animation easing effect
          animationEasing      : 'easeOutBounce',
          // Boolean - Whether we animate the rotation of the Doughnut
          animateRotate        : true,
          // Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale         : false,
          // Boolean - whether to make the chart responsive to window resizing
          responsive           : true,
          // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
          maintainAspectRatio  : false,

          // String - A tooltip template
          tooltipTemplate      : '<%=value %> <%=label%>'
        };
        // Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        pieChart.Doughnut(PieData, pieOptions);
        </script>
        <script>
          $(function () {
    //-------------
    //- BAR CHART -
    //-------------
    let barData = '{{ bar }}';
    barData = $.parseJSON(barData);
    console.log('bar', barData);
    var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
    var barChart                         = new Chart(barChartCanvas)
    var barChartData                     = 
	 {
      labels  : ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre','Novembre','Décembre'],
      datasets: [
        {
          label               : 'Formation de perfectionnement sur site',
          fillColor           : 'rgba(30, 85, 132, 1)',
          strokeColor         : 'rgba(30, 85, 132, 1)',
          pointColor          : 'rgba(30, 85, 132, 1)',
          pointStrokeColor    : '#1E5584',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : barData[0]
        },
        {
          label               : 'Asssistance sur site',
          fillColor           : 'rgba(121,183,178,0.9)',
          strokeColor         : 'rgba(121,183,178,0.8)',
          pointColor          : '#79B7B2',
          pointStrokeColor    : 'rgba(121,183,178,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(121,183,178,1)',
          data                : barData[1]
        },
         {
          label               : 'Intervention technique',
          fillColor           : 'rgba(27,163,156,0.9)',
          strokeColor         : 'rgba(27,163,156,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(27,163,156,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(27,163,156,1)',
          data                : barData[2]
        },
         {
          label               : 'Audit',
          fillColor           : 'rgba(0,148,255,0.9)',
          strokeColor         : 'rgba(0,148,255,0.8)',
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(0,148,255,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : barData[3]
        }
      ]
    }
    barChartData.datasets[1].fillColor   = '#1000A5'
    barChartData.datasets[1].strokeColor = '#1000A5'
    barChartData.datasets[1].pointColor  = '#1000A5'
    var barChartOptions                  = {
      //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
      scaleBeginAtZero        : true,
      //Boolean - Whether grid lines are shown across the chart
      scaleShowGridLines      : true,
      //String - Colour of the grid lines
      scaleGridLineColor      : 'rgba(0,0,0,.05)',
      //Number - Width of the grid lines
      scaleGridLineWidth      : 1,
      //Boolean - Whether to show horizontal lines (except X axis)
      scaleShowHorizontalLines: true,
      //Boolean - Whether to show vertical lines (except Y axis)
      scaleShowVerticalLines  : true,
      //Boolean - If there is a stroke on each bar
      barShowStroke           : true,
      //Number - Pixel width of the bar stroke
      barStrokeWidth          : 2,
      //Number - Spacing between each of the X value sets
      barValueSpacing         : 5,
      //Number - Spacing between data sets within X values
      barDatasetSpacing       : 1,
      //String - A legend template
      responsive              : true,
      maintainAspectRatio     : true,
    }

    barChartOptions.datasetFill = false
    barChart.Bar(barChartData, barChartOptions)
  })
</script>

     
{% endblock %}