{% extends 'Squelette.html.twig' %}
{% block css %}
    {{ parent() }}
    <script src="{{ asset('Template/dist/js/pages/dashboard2.js') }}"></script>
{% endblock %}
{% block Titre %}
    Portail web de TimSoft - Gestion des Business units
{% endblock %}
{% block Navigation %}
    <li class="active">Création d'un Business units</li>
{% endblock %}
{% block Contenu %}
    <div class="col-md-12">
        <div class="card card-primary card-outline">
            <div class="card-header with-border">
                <h2 class="card-title" style="color:#1E5584">Création d'un Business Units</h2>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Libellé</label>
                            {{ form_widget(form.libelle , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Libellé...'}} ) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Utilisateurs</label>
                            {{ form_widget(form.utilisateurs, {'attr' : {'class' : 'form-control'}} ) }}
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="float-right">
                    <button type="reset" class="btn btn-secondary"><i class="fas fa-window-close fa-lg"></i></button>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save fa-lg"></i></button>
                </div>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
        $('#timsoft_bubundle_bu_utilisateurs').select2();
    </script>
{% endblock %}
