<div id="showPlanning" class="modal fade">
    <div class="modal-dialog  modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-gradient-light">
                <h5 id="eventInfo" class="modal-title">
                    {% if planning.lc.commande is PreTeteCommande %}
                        Pré {{ planning.lc.commande.nCommande }} - {{ planning.lc.commande.client }} - {{ planning.lc.libelle }}
                    {% else %}
                        CC {{ planning.lc.commande.nCommande }} - {{ planning.lc.commande.client }} - {{ planning.lc.libelle }}
                    {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" id="close"><span
                            aria-hidden="true">×</span> <span
                            class="sr-only">close</span></button>
            </div>
            <div id="modalBody" class="modal-body">
                <div class="card card-outline card-primary card-outline-tabs bg-gradient-light">
                    <div class="card-header p-0 pt-1">
                        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill"
                                   href="#DétailIntervention" role="tab" aria-controls="custom-tabs-one-home"
                                   aria-selected="true">Détail Intervention</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                   href="#DétailClient" role="tab" aria-controls="custom-tabs-one-profile"
                                   aria-selected="false">Détail Client</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                   href="#DétailCommande" role="tab" aria-controls="custom-tabs-one-profile"
                                   aria-selected="false">Détail Commande</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-four-tabContent">
                            <div class="tab-pane fade show active" id="DétailIntervention" role="tabpanel">
                                <table class="table table-borderless table-sm" style="table-layout: fixed">
                                    <tr>
                                        <th>Temps</th>
                                        <td>
                                            {% if planning.allDay %}
                                                Toute la journée
                                            {% else %}
                                                {% if planning.start|date('H') <= 13 %}
                                                    Matin
                                                {% else %}
                                                    Après-midi
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <th>Journée Supplémentaire</th>
                                        <td>
                                            {% if planning.jSupplementaire %}
                                                Oui
                                            {% else %}
                                                Non
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>{{ planning.start|localizeddate('long', 'none', 'fr') }}</td>
                                        <th>Fin</th>
                                        <td>{{ planning.end|localizeddate('long', 'none', 'fr') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Intervenant</th>
                                        <td>{{ planning.utilisateur }}</td>
                                        <th>Accompagnements</th>
                                        <td>
                                            <ul>
                                                {% for ac in planning.accompagnements %}
                                                    <li>{{ ac }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Statut</th>
                                        <td>{{ planning.statut }}</td>
                                        <th>Commentaire</th>
                                        <td>{{ planning.commentaire }}</td>
                                    </tr>
                                    <tr>
                                        <th>Facturation</th>
                                        <td>
                                            {{ planning.facturation }}
                                        </td>
                                        <th>Lieu</th>
                                        <td>
                                            {{ planning.lieu }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="DétailClient" role="tabpanel">
                                <table class="table table-borderless table-sm">
                                    <tr>
                                        <th>Client</th>
                                        <td>{{ planning.lc.commande.client }}</td>
                                    </tr>
                                    <tr>
                                        <th>Téléphone</th>
                                        <td>{{ planning.lc.commande.client.telephone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adresse</th>
                                        <td>{{ planning.lc.commande.client.adresseClient }}</td>
                                    </tr>
                                    <tr>
                                        <th>Chef de projet client</th>
                                        <td>{{ planning.confirmePar }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="DétailCommande" role="tabpanel">
                                <table class="table table-borderless table-sm">
                                    <tr>
                                        <th>N° Commande</th>
                                        <td>{{ planning.lc.commande.nCommande }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date</th>
                                        <td>{{ planning.lc.commande.datePiece|date('d-m-Y') }}</td>
                                    </tr>
                                    {% if planning.lc.commande.affaire %}
                                        <tr>
                                            <th>Affaire</th>
                                            <td>{{ planning.lc.commande.affaire.libelle }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-gradient-light">
                <button class="btn btn-secondary" data-dismiss="modal">
                    <i class="fas fa-window-close fa-lg"></i>
                </button>
                {% if AutorisationAcces('deletePlanning' , app.user) or planning.id == app.user.id %}
                    <a href="{{ path('deletePlanning', {id: planning.id}) }}" class="btn btn-danger">
                        <i class="fas fa-trash fa-lg"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
