{% extends 'Squelette.html.twig' %}

{% block Titre %}
    Portail web de TimSoft - {{ client.raisonSociale }}
{% endblock %}

{% block Section %}
    Gestion des clients
    <small>Consultation du profil d'un client</small>
{% endblock %}


{% block Navigation %}
    <li class="breadcrumb-item"><a href="{{ path('ConsulterClient') }}">Consulter la liste de tous les clients</a></li>
    <li class="breadcrumb-item active">Consultation du profil d'un client</li>
{% endblock %}


{% block Contenu %}

    {% for message in app.flashes('OK-Modification-Client') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
            <div id="my-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Validation de la modification de
                                <strong>{{ client.raisonSociale }}</strong></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            </body>
        </div>
    {% endfor %}
    {% for message in app.flashes('OK-Ajout-Client') %}
        <div class="flash-notice">
            <body onLoad="$('#my-modal').modal('show');">
            <div id="my-modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Validation d'ajout !</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">
                            {{ message }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
            </body>
        </div>
    {% endfor %}
    <div class="col-md-12">
        <div class="card card-outline card-primary">
            <div class="card-header with-border">
                <h2 class="card-title" style="color:#1E5584">Informations de <b>{{ client.raisonSociale }}</b></h2>
            </div>
            {% if client is defined %}
                <div class="card-body">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <table width="50%" id="DivCente" align="center">
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Code Client:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.codeClient }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Adresse:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.adresseClient }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Ville:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.villeClient }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Téléphone:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.telephone }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Email:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.adresseMailClient }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table width="50%" id="DivCente" align="center">
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Société:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.raisonSociale }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Pays:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.paysClient }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Code postal:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.codePostalClient }}</td>
                                </tr>
                                <tr>
                                    <th scope="row" style="padding: 15px 0px 0px 0px">
                                        <div align="left">Fax:</div>
                                    </th>
                                    <td style="padding: 15px 0px 0px 0px">{{ client.faxClient }}</td>
                                </tr>
                                {% if not (client.societeMere == NULL ) %}
                                    <tr>
                                        <th scope="row" style="padding: 15px 0px 0px 0px">
                                            <div align="left">Société Mère:</div>
                                        </th>
                                        <td style="padding: 15px 0px 0px 0px">{{ client.societeMere }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <th>Statut</th>
                                    <td>
                                        {% if client.bloque %}
                                            <span class="badge badge-danger">Bloqué</span>
                                        {% else %}
                                            <span class="badge badge-success">Actif</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <table align="center">
                            <tr>
                                <td>
                                    <a href="{{ path('ConsulterClient') }}">
                                        <button class="btn btn-secondary btn-block">
                                            <i class="fas fa-backward fa-lg"
                                               title="Retour à la liste de tous les clients"></i>
                                        </button>
                                    </a>
                                </td>

                                <td><a href="{{ path('ModifierClient', { 'id': client.id }) }}">
                                        <button class="btn btn-primary btn-block">
                                            <i class="fas fa-edit fa-lg" title="Modifier"></i>
                                        </button>
                                    </a>
                                </td>
                                <td><a href="{{ path('SupprimerUnClient', { 'id': client.id }) }}">
                                        <button class="btn btn-danger btn-block">
                                            <i class="fas fa-trash-alt fa-lg" title="Supprimer"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    {% if not client.bloque %}
                                        <a class="btn btn-danger"
                                           href="{{ path('BloqueClient', { 'client': client.id }) }}">
                                            <i class="fas fa-ban fa-lg"
                                               title="Bloquer {{ client.raisonSociale }}">
                                            </i>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-success"
                                           href="{{ path('ActiveClient', { 'client': client.id }) }}">
                                            <i class="fas fa-arrow-alt-circle-up fa-lg"
                                               title="Activer {{ client.raisonSociale }}">
                                            </i>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="card card-outline card-primary">
            <div class="card-header with-border">
                <h2 class="card-title" style="color:#1E5584">Commandes de <b>{{ client.raisonSociale }}</b></h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>BU</th>
                        <th>RAP</th>
                        <th>Bu Manager</th>
                        <th>Affaire</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in client.commandes %}
                        <tr>
                            <td>{{ commande.nCommande }}</td>
                            <td>{{ commande.datePiece|date('d-m-Y') }}</td>
                            <td>
                                {% set unique = commande.lignCommandes %}
                                {% set newArray = [] %}

                                {% for lc in commande.lignCommandes %}
                                    {% if lc.bu not in newArray %}
                                        {% set newArray = newArray|merge([lc.bu]) %}
                                    {% endif %}
                                {% endfor %}
                                {% for bu in newArray %}
                                    {{ bu }}
                                {% endfor %}

                            </td>
                            <td>{{ commande.totalRAP }}</td>
                            <td>{{ commande.buManager }}</td>
                            <td>{{ commande.affaire ? commande.affaire.libelle }}</td>
                            <td>
                                {% if AutorisationAcces('AfficherCmd' , Utilisateur) %}
                                    <center>
                                        <a href="{{ path('AfficherCmd', { 'id': commande.id }) }}"
                                           class="btn btn-sm btn-primary">
                                            <i class="fas fa-search fa-lg"
                                               title="Consulter la commande"></i>
                                        </a>
                                    </center>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card card-outline card-primary">
            <div class="card-header with-border">
                <h2 class="card-title" style="color:#1E5584">Précommandes de <b>{{ client.raisonSociale }}</b></h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>BU</th>
                        <th>RAP</th>
                        <th>Bu Manager</th>
                        <th>Affaire</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commande in client.precommandes %}
                        <tr>
                            <td>{{ commande.nCommande }}</td>
                            <td>{{ commande.datePiece|date('d-m-Y') }}</td>
                            <td>
                                {% set unique = commande.lignCommandes %}
                                {% set newArray = [] %}

                                {% for lc in commande.lignCommandes %}
                                    {% if lc.bu not in newArray %}
                                        {% set newArray = newArray|merge([lc.bu]) %}
                                    {% endif %}
                                {% endfor %}
                                {% for bu in newArray %}
                                    {{ bu }}
                                {% endfor %}

                            </td>
                            <td>{{ commande.totalRAP }}</td>
                            <td>{{ commande.buManager }}</td>
                            <td>{{ commande.affaire ? commande.affaire.libelle }}</td>
                            <td>
                                {% if AutorisationAcces('preCommandeAfficher' , Utilisateur) %}
                                    <center>
                                        <a href="{{ path('preCommandeAfficher', { 'id': commande.id }) }}"
                                           class="btn btn-sm btn-primary">
                                            <i class="fas fa-search fa-lg" title="Consulter la commande"></i>
                                        </a>
                                    </center>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script>
        $('.table').dataTable({
            'language': {'url': '//cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'},
            "ordering": false
        });
    </script>
{% endblock %}
